# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.db-journal
.env
.venv/
venv/
env/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/

# Django
media/
staticfiles/
*.mo
*.pot

# Node / Vite
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.out.log
*.err.log
logs/
